<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    {% if user.is_authenticated %}
      <a href="{% url 'accounts:logout' %}">
        <button>로그아웃</button>
      </a>
    {% else %}
      <a href="{% url 'accounts:login' %}">
        <button>로그인</button>
      </a>
      <a href="{% url 'accounts:signup' %}">
        <button>회원가입</button>
      </a>
    {% endif %}
  </div>
  {% block body %}
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>
</html>